@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/russoone/v9/Z9XUDmZRWg6M1LvRYsH-yA.ttf) format('truetype');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/titilliumweb/v9/NaPecZTIAOhVxoMyOr9n_E7fRMQ.ttf) format('truetype');
}
body main header {
  display: grid;
  grid-template-columns: auto;
}
body main header img {
  display: inline;
  margin-right: auto;
  margin-left: auto;
}
body main header a {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
body main header a:hover {
  color: black;
}
body main nav {
  background-color: #3a3a3a;
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-align: center;
}
body main nav a {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  text-decoration: none;
  padding-right: 1em;
  padding-left: 1em;
}
body main nav a:hover {
  color: #4c96d7;
}
body main h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 40px;
}
body main footer {
  border-top: black solid 3px;
  border-bottom: black solid 3px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  text-align: center;
}
